# Object files
*.o
*/*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Flex output
lex.yy.c
ass2.yy.c

# Accent output
yygrammar.h
yygrammar.c

#autosave files
[#]*[#] 

accent/accent/accent
ass1
ass2

# TeX output
*.aux
*.pdf
*.dvi
*.log
*.synctex.gz
